<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content={{ csrfToken }}>
  <title>Dev</title>
  
  <style>
   
    * {
      margin: 0;
      padding: 0;
    }

    
  </style>
</head>
<body>
  {{inspect(payload)}}
  <div>
    This is dev    
  </div>
</body>
</html>
